<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="../img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {{>header}}
    <img class="portrait" src="../img/about.jpg">
    <p>Hi I'm {{name}} and I created this site to avoid sunny weather. This app uses data from the mapbox and weatherstack web APIs.</p>

    {{>footer}}
</body>
</html>