<footer id='footer'>
  <div class='level' style='display:flex; '>
    <p style='font-size: 0.7em; margin-bottom: 0' class='level-item'>Created by
      {{name}}</p>
    <a class='level-item' href='https://github.com/stevopritchard/'>
      <i class='fa-brands fa-github-square'></i>
    </a>
  </div>
</footer>